



<section id="home-main" style="display: flex; justify-content: space-between;" >

<div id="home-main-left" style="width: 50%;" >
    <!-- input form post  -->
    <%if(displayInput){%>
    <section id="feed-posts">
        <div>
        <h4>Upload a post</h4>
        <form id="new-post-form" action="/posts/create" method="post">
            <div class="form-outline">
                <textarea class="form-control" rows="3" cols="30" name="content" placeholder="Type here..." required></textarea>
              </div>
            <br>
            <input type="submit" value="Post">
            
        </form>
    </div>
        <hr>
<div>
        <h4>Upload a image/video</h4>
        <form action="/posts/uploadPost" method="post" enctype="multipart/form-data">
            <input type="file" name="file" placeholder="post a video"/>
            
            <div class="form-outline m-2">
                <input name="content" type="text" id="form12" placeholder="Type a caption" class="form-control" />
                <!-- <label class="form-label" for="form12"></label> -->
              </div>
            <!-- <textarea name="content" cols="30" rows="2" placeholder="Type a caption."></textarea> -->
            <input type="submit" value="upload">
        </form>
    </div>
    </section>
    <%}%>
<!-- posts container section -->
    <div id="post-list-container" >
        
            <% for(post of posts){ %>
                
                <%- include('_post')-%>
                
            <%} %>
        
    </div>
<!--  -->
</div>

<!-- friends section -->
<%if(displayInput ||user.userType==='personal'){%>
<div id="users-all" style="width: 30%;">

    <%- include('_friends')-%>
    
</div>
<%}%>
</section>

<script src="/js/toggle_like.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new HandleReaction(this)
    })
</script>
<script src="/js/index.js"></script>