<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blue Bird App</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
<!-- <link rel='stylesheet' type="text/css" href='/css/style.css'> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

</head>
<body>
    <%- body%>
</body>


<script>
    <% if(flash.success && flash.success.length>0) {%>
            new Noty({
                theme:'relax',
                text:"<%=flash.success%>",
                type:'success',
                layout:'topRight',
                timeout:1500
            }).show()
    <%}%>

    <% if(flash.error && flash.error.length>0) {%>
            new Noty({
                theme:'relax',
                text:"<%=flash.error%>",
                type:'error',
                layout:'topRight',
                timeout:1500
            }).show()
    <%}%>
    </script>
</html>
